@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
	text-wrap: pretty;
}

#cards .glow::after {
	opacity: 1;
}

.glow {
	@apply relative text-white rounded-lg flex flex-col justify-center items-center gap-12 text-center bg-neutral-800 hover:before:opacity-100;
}
.card {
	@apply w-52 h-44 sm:h-52 max-w-[190px] sm:max-w-none mx-auto sm:mx-0;
}
.glow::before,
.glow::after {
	@apply absolute h-full w-full rounded-lg content-[''] opacity-0 pointer-events-none;
	transition: opacity 500ms;
}
.glow::before {
	@apply z-[2];
}
.card::before {
	background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), #fe6f161a, transparent 40%);
}
.card::after {
	background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), #fe6f16, transparent 40%);
	z-index: 0;
}
.header::before {
	background: radial-gradient(200px circle at var(--mouse-x) var(--mouse-y), #fe6f161a, transparent 40%);
}
.header::after {
	background: radial-gradient(200px circle at var(--mouse-x) var(--mouse-y), #fe6f16, transparent 40%);
	z-index: 0;
}
.button::before {
	background: radial-gradient(200px circle at var(--mouse-x) var(--mouse-y), #fe6f161a, transparent 40%);
	z-index: 2;
}
.button::after {
	background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), #fe6f16, transparent 40%);
	z-index: 0;
}
.faq::before {
	background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), #fe6f161a, transparent 40%);
	z-index: 2;
}
.faq::after {
	background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), #fe6f16, transparent 40%);
	z-index: 0;
}

.glow > .glow-content {
	@apply rounded-lg z-[1] bg-[#0d0d0d] inset-[1px];
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}
.card-info-wrapper {
	@apply w-full h-full min-w-[148px] text-neutral-300 px-4 sm:px-8 flex flex-col justify-center items-center gap-2 sm:gap-10 text-sm sm:text-base;
}

.hidden:checked + p {
	@apply h-fit p-5 text-opacity-100;
}

.test:-moz-drag-over {
	border: 2px solid dashed #fe6f16 !important;
}
:checked + .filter {
	@apply border-primary bg-[rgba(254,111,22,0.05)];
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #6d6d6d;
	border-radius: 10px;
	border: 2px solid #030301;
}
::-webkit-scrollbar-corner {
	display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 100px;
	aspect-ratio: 1;
	padding: 10px;
	box-sizing: border-box;
	display: grid;
	background: transparent;
}
.loader:before {
	content: '';
	margin: auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: rgb(254, 111, 22);
	background: currentColor;
	box-shadow:
		-30px 0,
		30px 0,
		0 30px,
		0 -30px;
	animation: l6 1s infinite alternate;
}
@keyframes l6 {
	90%,
	100% {
		box-shadow:
			-10px 0,
			10px 0,
			0 10px,
			0 -10px;
		transform: rotate(180deg);
	}
}
