@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
	text-wrap: pretty;
}

#cards .glow::after {
	opacity: 1;
}

.glow {
	@apply relative text-white rounded-lg flex flex-col justify-center items-center gap-12 text-center bg-neutral-800 hover:before:opacity-100;
}
.card {
	@apply w-52 h-52;
}
.glow::before,
.glow::after {
	@apply absolute h-full w-full rounded-lg content-[''] opacity-0 pointer-events-none;
	transition: opacity 500ms;
}
.glow::before {
	@apply z-[2];
}
.card::before {
	background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), #fe6f161a, transparent 40%);
}
.card::after {
	background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), #fe6f16, transparent 40%);
	z-index: 0;
}
.button::before {
	background: radial-gradient(200px circle at var(--mouse-x) var(--mouse-y), #fe6f161a, transparent 40%);
	z-index: 2;
}
.button::after {
	background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), #fe6f16, transparent 40%);
	z-index: 0;
}
.faq::before {
	background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), #fe6f161a, transparent 40%);
	z-index: 2;
}
.faq::after {
	background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), #fe6f16, transparent 40%);
	z-index: 0;
}

.glow > .glow-content {
	@apply rounded-lg z-[1] bg-[#0d0d0d] inset-[1px];
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}
.card-info-wrapper {
	@apply w-full h-full text-neutral-300 p-8 flex flex-col justify-center items-center gap-10;
}

.hidden:checked + p {
	@apply h-fit p-5 text-opacity-100;
}
